*{
  padding : 0px;
  margin: 0px;
  box-sizing : border-box;
   
}

  Jumbotron p{
  font-size : 25px;
  font-weight :300;
  color : red;
}
.textTransform{
  text-transform : capitalize ;
}
hr{
  border-top: 2px solid #ff2020;
}
h1{
  font-size : 50px;
  font-weight :600;
  text-transform : capitalize ;
  color: #202040;
}
.selectbox{
  background: ghostwhite
}
h2{
  font-size : 30px;
  font-weight :600;
  text-transform : capitalize ;
  color: #2E4970;
}
h5{
  text-align : left
}
.contactDetails{
  border : 1px solid #ffffff;
  margin : 20px;
  padding : 20px;
  border-radius: 10px;
    width: fit-content;
    box-shadow: violet;
    box-shadow: 14px 14px 12px -10px rgba(0,0,0,0.75);

}
.fetchButton{
border : 2px solid #bcc90e;
padding: 5px 10px;
background : #bcc90e ;
color: white;
}
.orderHeading{
  border: 1px solid #ffffff;
  border-radius : 10px;
  
  padding : 10px;
  text-align: center;
  margin : 20px;
  color : white;
  box-shadow: 14px 14px 12px -10px #000000bf;
}
.flexWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
  flex-flow: row-space-between;
}
.flexWrapperselectbox{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-around;
  flex-flow: row-space-between;
}
.bookorder_h1{
  text-align: center;
  text-transform: uppercase;

}
.parent::after{
  content :"";
  display : block;
  clear : both;
}
.totalContainer{
  background : #f50669; ;
color: white;

}
.clothName{
  font-weight: 800;
    text-transform: capitalize;
    text-align: left;
    color : #202040;
    
}
.orderHeading{
  text-align: center;
    margin: 10px;
    color : #204040;
    text-transform : capitalize ;
}
.orderHeader{
  display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-around;
    background: #b0adda70;
    padding: 20px 0px;
}
.amount{
  font-weight: 500;
    text-transform: capitalize;
    
}
.address{
  text-transform: capitalize;
    color: #212529;
    font-size: 20px;
    font-family: sans-serif;
}
.a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: white;
  text-decoration: none;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.homepageBodyBackground{
  height : 92vh;
  background-image: url('./image/loundryBackground.jpg');
  background-color : #94407b;
  overflow : hidden;
  background-size : cover;
  background-repeat : no-repeat;
  background-position :  center;
  }
  .backgroundHeading{
    position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   box-shadow: 0px 1px 12px 3px  rgba(248, 245, 245, 0.856);
    background-color: #a9d6d3;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
  
    top : 430px;
    bottom: 0px;
    left : 370px;
    right: 0px;
  }
  .backgroundHeading h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color :#2E4970
  }
  .howItWorks{
    height: 85vh;
    background-color: #5f9ea099;
    margin-top: 20px;
    border-radius: 20px;
  }
  .howItWorks .howItWorksBackgroundHeading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    left: 450px;
    top : 30px; 
  }
  .howItWorksBackgroundHeading .heading{
    color:#2E4970;
  }
  .howItWorksBackgroundHeading .subHeading{
   
    position: relative;
    font-family:sans-serif;
    left : -30px
  }
  .workingProcess{
   
    position: relative;
    top : 60px;
    padding: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }
  .card{
    padding: 0px;
    margin :0px auto;
  }
  .card:hover {
    box-shadow: 0px 10px 20px 10px rgba(248, 245, 245, 0.856);
  }
  .horizontalLine{
    position: relative;
    top : 40px;
  }
  .ourServices{
    background-color: rgb(245, 239, 239);
    height: 45vh;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .ourServices .ourServicesHeading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 450px;
    top : 30px
  }
  .ourServices .subHeading{
    position: relative;
    left : -30px;
  }
  #cardHeading{
    color : #2E4970;
  }
  #btn-booking{
    background-color: white;
    color : #2E4970;
  }
/* .App {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  width: 50%;
  background-color: #66DAC7;
}

.App__Form {
  width: 50%;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 250px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 10px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 15px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 15px;
}
.error{
  background : #f0ad4e;
  padding : 10px;
  margin : 10px auto;
  text-align : center;
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
  border-radius: 25px;
 

}
.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
} */